#wowslider-container1 {
	zoom: 1;
	position: relative;
	max-width:630px;
	margin:0px auto 3px;
	z-index:90;
	text-align:left; /* reset align=center */
}
* html #wowslider-container1{
	width:630px
}
#wowslider-container1 .ws_images ul{
	position:relative;
	width: 10000%; 
	height:auto;
	left:0;
	list-style:none;
	margin:0;
	padding:0;
	border-spacing:0;
	overflow: visible;
	/*table-layout:fixed;*/
}
#wowslider-container1 .ws_images ul li{
	width:1%;
	line-height:0; /*opera*/
	float:left;
	font-size:0;
	padding:0 0 0 0 !important;
	margin:0 0 0 0 !important;
}

#wowslider-container1 .ws_images{
	position: relative;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
#wowslider-container1 .ws_images a{
	width:100%;
	display:block;
	color:transparent;
}
#wowslider-container1 img{
	max-width: none !important;
}
#wowslider-container1 .ws_images img{
	width:100%;
	border:none 0;
	max-width: none;
	padding:0;
}
#wowslider-container1 a{ 
	text-decoration: none; 
	outline: none; 
	border: none; 
}

#wowslider-container1  .ws_bullets { 
	font-size: 0px; 
	float: left;
	position:absolute;
	z-index:70;
}
#wowslider-container1  .ws_bullets div{
	position:relative;
	float:left;
}
#wowslider-container1  .wsl{
	display:none;
}
#wowslider-container1 sound, 
#wowslider-container1 object{
	position:absolute;
}


#wowslider-container1  .ws_bullets { 
	padding: 5px; 
}
#wowslider-container1 .ws_bullets a {
	width:20px;
	height:20px;
	float: left;
	text-indent: -4000px;
	position:relative;
	margin-left:7px;
	color:transparent;
	background-image: url(../images/bullet.png);
	background-position: left top;
}
#wowslider-container1 .ws_bullets a:hover{
	background-position: 0 50%;	
}
#wowslider-container1 .ws_bullets a.ws_selbull{ 
	background-position: 0 100%;
}	
#wowslider-container1 a.ws_next, #wowslider-container1 a.ws_prev {
	position:absolute;
	display:none;
	top:50%;
	margin-top:-22px;
	z-index:60;
	height: 30px;
	width: 30px;
	background-image: url(../images/arrows.png);
}
#wowslider-container1 a.ws_next{
	background-position: 100% 0;
	right:5px;
}
#wowslider-container1 a.ws_prev {
	left:5px;
	background-position: 0 0; 
}
#wowslider-container1 a.ws_next:hover{
	background-position: 100% 100%;
}
#wowslider-container1 a.ws_prev:hover {
	background-position: 0 100%; 
}
* html #wowslider-container1 a.ws_next,* html #wowslider-container1 a.ws_prev{display:block}
#wowslider-container1:hover a.ws_next, #wowslider-container1:hover a.ws_prev {display:block}
/*playpause*/
#wowslider-container1 .ws_playpause {
	display:none;
    width: 31px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -25px;
    z-index: 59;
}

#wowslider-container1:hover .ws_playpause {
	display:block;
}

#wowslider-container1 .ws_pause {
    background-image: url(pause.png);
}

#wowslider-container1 .ws_play {
    background-image: url(play.png);
}

#wowslider-container1 .ws_pause:hover, #wowslider-container1 .ws_play:hover {
    background-position: 100% 100% !important;
}/* bottom center */
#wowslider-container1  .ws_bullets {
    bottom: 0px;
	left:50%;
}
#wowslider-container1  .ws_bullets div{
	left:-50%;
}
#wowslider-container1 .ws-title{
	position:absolute;
	display:block;
	bottom: 20px;
	left: 30px; 
	margin-right: 0px;
	z-index: 50;
	font-family:'Oswald', Arial, Helvetica, sans-serif;
	font-size: 28px;
	line-height: 30px;
	text-transform: uppercase;
}
#wowslider-container1 .ws-title div,#wowslider-container1 .ws-title span{
	display:inline-block;
	padding:15px 10px;
	background:rgba(0, 0, 0, 0.9); 
}
#wowslider-container1 .ws-title div{
	display:block;
	margin-top:10px;
	font-size: 16px;
	line-height: 18px;
	padding:10px;
}#wowslider-container1 .ws_images ul{
	animation: wsBasic 29.4s infinite;
	-moz-animation: wsBasic 29.4s infinite;
	-webkit-animation: wsBasic 29.4s infinite;
}
@keyframes wsBasic{0%{left:-0%} 8.5%{left:-0%} 14.29%{left:-100%} 22.79%{left:-100%} 28.57%{left:-200%} 37.07%{left:-200%} 42.86%{left:-300%} 51.36%{left:-300%} 57.14%{left:-400%} 65.65%{left:-400%} 71.43%{left:-500%} 79.93%{left:-500%} 85.71%{left:-600%} 94.22%{left:-600%} }
@-moz-keyframes wsBasic{0%{left:-0%} 8.5%{left:-0%} 14.29%{left:-100%} 22.79%{left:-100%} 28.57%{left:-200%} 37.07%{left:-200%} 42.86%{left:-300%} 51.36%{left:-300%} 57.14%{left:-400%} 65.65%{left:-400%} 71.43%{left:-500%} 79.93%{left:-500%} 85.71%{left:-600%} 94.22%{left:-600%} }
@-webkit-keyframes wsBasic{0%{left:-0%} 8.5%{left:-0%} 14.29%{left:-100%} 22.79%{left:-100%} 28.57%{left:-200%} 37.07%{left:-200%} 42.86%{left:-300%} 51.36%{left:-300%} 57.14%{left:-400%} 65.65%{left:-400%} 71.43%{left:-500%} 79.93%{left:-500%} 85.71%{left:-600%} 94.22%{left:-600%} }

#wowslider-container1 {
	border-width: 0px 0px 0px 0px;
	height: 317px;
	width: 630px;
}
#wowslider-container1 .ws_bullets  a img{
	text-indent:0;
	display:block;
	bottom:20px;
	left:-120px;
	visibility:hidden;
	position:absolute;
    border: 3px solid #FFFFFF;
	max-width:none;
}
#wowslider-container1 .ws_bullets a:hover img{
	visibility:visible;
}

#wowslider-container1 .ws_bulframe div div{
	height:90px;
	overflow:visible;
	position:relative;
}
#wowslider-container1 .ws_bulframe div {
	left:0;
	overflow:hidden;
	position:relative;
	width:240px;
	background-color:#FFFFFF;
}
#wowslider-container1  .ws_bullets .ws_bulframe{
	display:none;
	bottom:25px;
	overflow:visible;
	position:absolute;
	cursor:pointer;
    border: 3px solid #FFFFFF;
}
#wowslider-container1 .ws_bulframe span{
	display:block;
	position:absolute;
	bottom:-10px;
	margin-left:-1px;
	left:120px;
	width:15px;
	height:6px;
	background-image: url(../images/triangle.png);
}
