.packageListing {
	padding-bottom:20px;
}
.packageListing ul {
	display:block;
}
.packageListing ul li a {
	font:700 14px/17px Arial, Helvetica, sans-serif;
	color:#0092dd;
}
.packageListing ul li .palce {
	background:url(../images/mapIcon2.gif) no-repeat left 7px;
	display:inline-block;
	font:100 11px Arial, Helvetica, sans-serif;
	color:#6e6e6e;
	word-wrap: break-word;
	height: 35px;
	width: 200px;
	padding-top: 7px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 20px;
}
.packagestext {
	padding:0 70px 0 0;
	float:right;
	font:100 12px/32px Arial, Helvetica, sans-serif;
	color:#797979
}
.packageListing ul li .pic .offerDate {
	width:66px;
	height:24px;
	position:absolute;
	right:0;
	bottom:13px;
	display:block;
	font:700 11px/25px Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-shadow:1px 1px 1px #60952c;
	text-align:center;
	background:url(../images/packagerateBg.png) no-repeat right top;
}



.jcarousel-skin-tango .jcarousel-container {
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
	width: 600px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
	width: 605px;
}



.jcarousel-skin-tango .jcarousel-item {
	width:  200px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 0px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
	width:30px;
	height:26px;
	display:block;
	position:absolute;
	top:-40px;
	right:0px;
	cursor:pointer;
	background-image: url(../images/packageScrollButton.gif);
	background-repeat: no-repeat;
	background-position: right top;
}


.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
	background-image: url(../images/packageScrollButton.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
	background-image: url(../images/packageScrollButton.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}



.jcarousel-skin-tango .jcarousel-prev-horizontal {
	width:30px;
	height:26px;
	display:block;
	position:absolute;
	top:-40px;
	cursor:pointer;
	right:29px;
	background-image: url(../images/packageScrollButton.gif);
	background-repeat: no-repeat;
	background-position: left top;

}


.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
	background-image: url(../images/packageScrollButton.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
	background-image: url(../images/packageScrollButton.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-New2 .jcarousel-skin-tango .jcarousel-clip-horizontal {
	width: 600px;
}

.jcarousel-New2 .jcarousel-skin-tango .jcarousel-container-horizontal{
	width: 600px;
}
.jcarousel-New2.packageListing ul li{
	padding-right:28px;
}
