@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
}

h1{
	color: #0092dd;
	font-family: "Arial Rounded MT Bold";
	font-weight: normal;
}
h2{
	color: #0b6ccf;
	font-weight: 600;
	font-size: 13px;
	padding-top: 8px;
	padding-bottom: 4px;
	font-family: Arial, Helvetica, sans-serif;
}
.h2{
	color: #0b6ccf;
	font-size: 11px;
	padding-bottom: 6px;
	font-family: Arial, Helvetica, sans-serif;
}
.h2_1{
	color: #333333;
	font-size: 11px;
	padding-bottom: 6px;
	font-family: Arial, Helvetica, sans-serif;
}
h2 a{
	color: #0b6ccf;
	text-decoration: none;
}
h2 a:hover{
	color: #0b6ccf;
	text-decoration: none;
}
h3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: 100;
	color: #6e6e6e;
	padding-top: 6px;
}
h4{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 100;
}
h5{
	color: #0b6ccf;
	font-weight: 600;
	font-size: 13px;
	padding-bottom: 4px;
	font-family: Arial, Helvetica, sans-serif;
}
h5 a{
	color: #0b6ccf;
	text-decoration: none;
}
h5 a:hover{
	color: #0b6ccf;
	text-decoration: underline;
}
h6{
	color: #0b6ccf;
	font-weight: 600;
	font-size: 15px;
	padding-top: 8px;
	padding-bottom: 4px;
	font-family: Arial, Helvetica, sans-serif;
}
h6 a{
	color: #0b6ccf;
	text-decoration: none;

}
h6 a:hover{
	color: #0b6ccf;
	text-decoration: none;

}
body{
	font-size: 12px;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #003366;
	/*background-size: cover;*/
	background-repeat: no-repeat;
	background-image: url(../images/bg_img.png);


}

p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: justify;
	line-height: 140%;
	padding-right: 8px;
	padding-left: 8px;
}
.p2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 140%;
	padding-right: 8px;
	padding-left: 8px;
	color: #474a4b;
	text-align: left;
}
.p1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: justify;
	line-height: 140%;
}
img {
	border: 0px;
}
.container{
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto; 
	display:block;
	overflow:hidden;
}
.header{
	float: left;
	width: 1000px;
	height: 95px;
	margin-top: 10px;

}
.logo{
	padding-top: 15px;
	float: left;
	width: 280px;
}
.header_right{
	float: right;
	height: 60px;
	width: 270px;
	margin-top: 20px;
}

.menu_area{
	width: 1000px;
	float: left;
	height: 43px;
}
.menu_left{
	background-image: url(../images/left_corner.png);
	background-repeat: no-repeat;
	float: left;
	height: 42px;
	width: 45px;
}
.menu_home{
	background-repeat: no-repeat;
	float: right;
	height: 26px;
	width: 28px;
	margin-top: 6px;
	margin-right: 8px;
}
.menu_right{
	background-image: url(../images/right_corner.png);
	background-repeat: no-repeat;
	float: left;
	height: 42px;
	width: 20px;
}
.menu_mid{
	background-image: url(../images/menu_bg.png);
	background-repeat: repeat-x;
	float: left;
	height: 42px;
	width: 935px;
}
#menu{
	background-image: url(../images/menubg.gif);
	background-repeat: no-repeat;
	float: left;
	height: 42px;
	width: 935px;
}
.menu ul{
	display: block;
	float: left;
	width: 900px;
	background-color: #FFFFFF;
}
.menu li{
	float: left;
	padding-right: 4px;
	padding-bottom: 2px;
	list-style-position: inside;
	color: #FFFFFF;
	list-style-type: none;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;
	height: 20px;
	margin-top: 8px;
	padding-top: 4px;
	margin-right: 8px;
	
}
.menu li a{
	color: #FFFFFF;
	text-decoration: none;
	
}

.menu li a:hover{
	color: #fff000;
}
.wapper{
	float: left;
	width: 984px;
	margin-top: 10px;
	background-color: #efefef;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 50px;
	padding-left: 8px;
	margin-left: 1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #004372;
}

.left_pannel{
	float: left;
	width: 650px;
	margin-left: 8px;
	margin-top: 5px;
}
.left_subpannel{
	float: left;
	width: 649px;
}
.banner_area{
	float: left;
	width: 640px;
	background-image: url(../images/banner_box.png);
	background-repeat: no-repeat;
	height: 330px;
}
.banner{
	float: left;
	width: 631px;
	margin-top: 4px;
	margin-right: 4.5px;
	margin-bottom: 4px;
	margin-left: 4.5px;
	height: 317px;
}

.pkg_diplaybox{
	float: left;
	width: 614px;
	border: 1px solid #d7d7d7;
	background-color: #FFFFFF;
	padding-top: 8px;
	padding-right: 12px;
	padding-bottom: 4px;
	padding-left: 12px;
}
.pkg_titel_infobox{
	float: left;
	width: 641px;
	padding-bottom: 3px;

}
.pkg_titel_duration_box{
	float: left;
	width: 617px;
	background-color: #FFFFFF;
	padding-top: 8px;
	padding-right: 12px;
	padding-bottom: 4px;
	padding-left: 12px;
}
.pkg_con_strip_box{
	float: left;
	width: 633px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	background-repeat: no-repeat;
	height: 41px;
	background-image: url(../images/strip.png);
	margin-bottom: 20px;
}
.pkg_ti_dur_subbox{
	float: left;
	width: 615px;

}
.pkg_ti_dur_subbox1{
	float: left;
	width: 615px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
}
.pkg_ti_dur_subbox h1{
	color: #3378A9;
	font-size: 22px;
	padding-top: 14px;
}
.pkg_ti_dur_subbox h2{
	color: #333333;
	font-size: 13px;
	font-weight: normal;
	margin: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.note_text{
	color: #f30045;
	padding-top: 8px;
}
.map_icon{
	float: left;
	height: 40px;
	width: 120px;
}
.price_display{
	float: right;
	width: 110px;
	background-image: url(../images/price_icon.png);
	background-repeat: no-repeat;
	padding-bottom: 5px;
}
.price_text{
	float: left;
	width: 70px;
	font-size: 27px;
	color: #000000;
	padding-left: 27px;
	margin-left: 5px;
	margin-top: -4px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: bold;

}
.price_text2{
	float: left;
	width: 70px;
	font-size: 11.5px;
	color: #f30045;
	padding-left: 30px;
	margin-left: 5px;
	margin-top: -2px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;

}
.book_button{
	background-repeat: no-repeat;
	float: right;
	height: 41px;
	width: 147px;
	margin-right: 8px;
}
.pkg_offer{
	float: left;
	width: 312.5px;
	margin-top: 12px;
	margin-bottom: 5px;
	padding-bottom: 8px;
	background-color: #FFFFFF;
	border: 1px solid #0092DD;
}

.pkg_city{
	float: left;
	width: 204px;
	margin-top: 12px;
	margin-bottom: 5px;
	padding-bottom: 8px;
	margin-right: 10px;
	background-color: #FFFFFF;
	height: 160px;
}
.pkg_city2{
	float: left;
	width: 204px;
	margin-top: 12px;
	margin-bottom: 5px;
	padding-bottom: 8px;
	background-color: #FFFFFF;
	height: 160px;

}
.pkg_cityimg{
	background-color: #FFFFFF;
	float: left;
	width: 188px;
	margin-bottom: 5px;
	height: 110px;
	padding: 3px;
	margin-left: 5px;
}
.strip_cantent{
	float: left;
	width: 220px;
	margin-top: 7px;
}
.strip_contact{
	float: left;
	width: 180px;
	font-size: 20px;
	color: #333333;

}
.phone_icon{
	float: left;
	height: 30px;
	width: 36px;
	background-image: url(../images/phoneicon.png);
	background-repeat: no-repeat;

}
.spacer{
	float: left;
	height: 100px;
	width: 1px;
	padding-left: 12px;
}
.pkg_box{
	float: left;
	width: 203px;
}
.pkg_titel{
	float: left;
	width: 610px;
	padding-top: 6px;
}
.pkg_titelrightside{
	float: right;
	height: 25px;
	width: 80px;
	margin-top: 5px;
}

.pkg_img{
	float: left;
	width: 200px;
	padding-bottom: 8px;
}
.pkg_imgbox{
	text-align: center;
	width: 166px;
	border: 1px solid #d6d6d6;
	height: 120px;
	margin-left: 10px;
	padding: 5px;
}
.pkg_imgbox_discription{
	float: left;
	width: 178px;
	margin-left: 10px;
}
.right_pannel{
	float: left;
	width: 310px;
	margin-left: 6px;
	margin-top: 5px;
}

.form_section{
	float: left;
	height: 420px;
	width: 295px;
	border: 7px solid #FFFFFF;
	background-color: #064185;
}
.form_header{
	background-repeat: no-repeat;
	float: left;
	height: 65px;
	width: 295px;
	background-color: #003366;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
.form_header h1{
	font-family: "Arial Rounded MT Bold";
	font-size: 24px;
	color: #FFFFFF;
	font-weight: normal;
	padding-top: 10px;
	padding-left: 15px;
}
.form_header p{
	color: #FFFFFF;
}
.form_container{
	float: left;
	width: 265px;
	margin-right: 15px;
	margin-left: 15px;
}

.fo_contarea{
	float: left;
	width: 265px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.fo_leftarea{
	float: left;
	width: 82px;
	padding-left: 5px;
	color: #FFFFFF;
}
.fo_rightarea1{
	float: left;
	width: 58px;
}
.fo_rightarea2{
	float: left;
	width: 112px;
}
.fo_rightarea2.2{
	float: left;
	width: 150px;
}

.fo_rightarea3{
	float: left;
	width: 92px;
}
.fo_rightarea4{
	float: left;
	width: 82px;
}
.fo_rightarea5{
	float: left;
	padding-right: 5px;
	padding-left: 5px;
}

.fo_rightarea6{
	float: left;
	width: 175px;
}
.level1{
	float: left;
	width: 80px;
	font-size: 12px;
}
.level2{
	float: left;
	width: 58px;
}
.le_text2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	float: left;
	width: 55px;
	border: 1px solid #8cc4f3;
	padding: 2px;
}
.level3{
	float: left;
	width: 100px;
}
.le_text3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	float: left;
	width: 108px;
	border: 1px solid #8cc4f3;
	padding-top: 3px;
	padding-right: 2px;
	padding-bottom: 3px;
	padding-left: 2px;
	margin-right: 5px;
}
.level4{
	float: left;
	width: 180px;
}
.le_text4date{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	float: left;
	width: 136px;
	border: 1px solid #8cc4f3;
	padding-top: 3px;
	padding-right: 2px;
	padding-bottom: 3px;
	padding-left: 2px;
	margin-right: 5px;
}

.le_text4{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	float: left;
	width: 166px;
	border: 1px solid #8cc4f3;
	padding-top: 3px;
	padding-right: 2px;
	padding-bottom: 3px;
	padding-left: 2px;
}
.le_text4_1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	float: left;
	width: 171px;
	border: 1px solid #8cc4f3;
	padding-top: 3px;
	padding-right: 2px;
	padding-bottom: 3px;
	padding-left: 2px;
}
.level5{
	width: 145px;
	float: left;
}
.le_text5{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4e3e05;
	float: left;
	width: 140px;
	border: 1px solid #bfdcf4;
	padding-top: 3px;
	padding-right: 2px;
	padding-bottom: 3px;
	padding-left: 2px;
}

.level_cp{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #CC0000;
	float: left;
	width: 140px;
	border: 1px solid #bfdcf4;
	padding-top: 3px;
	padding-right: 2px;
	padding-bottom: 3px;
	padding-left: 2px;
	margin-top: 6px;
	margin-left: 8px;
	font-weight: bold;
	letter-spacing: 2px;
}
.level_cp_ref{
	float: left;
	width: 80px;
	margin-left: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-top: 5px;
	padding-right: 4px;
	text-align: center;
	font-size: 12px;
}
.level_cp2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	float: left;
	width: 235px;
	border: 1px solid #bfdcf4;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	margin-left: 8px;
	text-align: center;
	font-weight: bold;
}

.level6{
	float: left;
	width: 38px;
	height: 28px;
}
.level7{
	float: left;
	width: 80px;
	height: 28px;
	margin-right: 2px;
}
.le_text7{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	float: left;
	width: 87px;
	border: 1px solid #8cc4f3;
	padding-top: 3px;
	padding-right: 2px;
	padding-bottom: 3px;
	padding-left: 2px;
}
.le_text8{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4e3e05;
	float: left;
	width: 79px;
	border: 1px solid #8cc4f3;
	padding-top: 3px;
	padding-right: 2px;
	padding-bottom: 3px;
	padding-left: 2px;
}
.level8{
	float: left;
	width: 40px;
	height: 28px;
}
.level9{	float: left;
	width: 38px;
	height: 28px;
}
.text15{
	font-family: "Times New Roman", Times, serif;
	font-size: 32px;
}
.text16{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #3378A9;
	padding-top: 30px;
}
.le_text10{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4e3e05;
	float: left;
	width: 168px;
	border: 1px solid #8cc4f3;
	padding-top: 3px;
	padding-right: 2px;
	padding-bottom: 3px;
	padding-left: 2px;
}
.search_button{
	float: right;
	height: 34px;
	width: 174px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	margin-right: 3px;
	margin-top: 4px;
}

.search_button a{
	float: left;
	width: 108px;
	background-repeat: no-repeat;
	height: 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	padding-top: 8px;
	text-align: center;
	border: 1px solid #efc20c;
}
.search_button a:hover{
	float: left;
	width: 108px;
	background-repeat: no-repeat;
	height: 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	padding-top: 8px;
}


.right_subpannel{
	float: left;
	width: 310px;

}

.right_subpannelinner{
	float: left;
	width: 296px;
	border: 1px solid #d6d6d6;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
}
.right_pkgbox{
	float: left;
	width: 296px;
	padding-top: 6px;
	padding-bottom: 2px;
}

.right_pkgbox ul{
	padding-left: 20px;
	padding-right: 20px;
}

.right_pkgbox li{
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 13px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	padding-right: 8px;
	list-style-type: none;
}
.right_pkgbox li a{
	color: #0b6ccf;
	text-decoration: none;
	font-weight: bold;
}
.right_pkgbox li a:hover{
}
.right_pkgbox2{
	float: left;
	width: 296px;
	height: 165px;
}
.right_pkgimg{
	float: left;
	height: 70px;
	width: 100px;
	margin-left: 5px;
}
.tour_image{
	float: left;
	height: 120px;
	width: 170px;
	padding: 3px;
	border: 1px solid #CCCCCC;
	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 8px;

}
.right_pkginfo{
	float: left;
	width: 180px;
	margin-left: 8px;
}
.right_pkginfo2{
	float: left;
	width: 250px;
	margin-left: 8px;
}
.catogry_titel{
	background-image: url(../images/catogry_bg2.png);
	background-repeat: repeat-x;
	float: left;
	height: 30px;
	width: 281px;
	color: #FFFFFF;
	padding-left: 15px;
	padding-top: 8px;
	font-size: 18px;
}

.corner{
	height: 66px;
	width: 247px;
	background-image: url(../images/special.png);
	background-repeat: no-repeat;
	position: absolute;
	z-index: 1000;
	margin-top: 10px;
}
.destinations_img{
	float: left;
	width: 285px;
	height: 150px;
	border: 1px solid #d6d6d6;
	margin-left: 8px;
	padding: 5px;
} 
.destinations_info{
	float:left;
	width:195px;
	margin-left:3px;
	padding-top:7px
}
.more{
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0066FF;
}
.view{
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3186bc;
	padding-top: 5px;
	width: 100px;
}
.view a{
	color: #3186bc;
	text-decoration: none;
}
.view a:hover{
	font-size: 11px;
	color: #3186bc;
	text-decoration: none;
}
.footer{
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #ff9600;
	float: left;
	width: 999px;
	background-color: #004372;
	margin-left: 1px;
	padding-bottom: 5px;
}
.footermain{
	width: 954px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 20px;
}
.footerbox1{
	float: left;
	width: 230px;
}
.footerbox2{
	float: right;
	width: 230px;
	color: #c3d7ef;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
}
.footerbox3{
}
.footerbox4{
}
.fheadingtext{
	font-family: Arial;
	font-size: 16px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: lighter;
	padding-bottom: 8px;
}
.fheadingtext a{

	color: #FFFFFF;
	text-decoration: none;

}
.fheadingtext a:hover{
	color: #FFFFFF;
	text-decoration: none;

}
.footerlink{
	padding-left: 3px;
}
.footerlink ul{
}
.footerlink li{
	list-style-type: none;
	font-family: Arial;
	font-size: 12px;
	color: #c3d7ef;
	text-decoration: none;
	line-height: 140%;
	padding-top: 2px;
	padding-bottom: 2px;
}
.footerendbox1{
	float: left;
	width: 954px;
	padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CCCCCC;

}
.footerendbox{
	float: left;
	width: 954px;
	padding-top: 10px;
	padding-bottom: 2px;

}
.bottomlink{
	float: left;
	width: 500px;
}
.bottomlink ul{
	padding-top: 6px;
}
.bottomlink li{
	display: inline;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 12px;
	padding-right: 5px;
}
.bottomlink li a{
	color: #FFFFFF;
	text-decoration: none;
}
.bottomlink li a:hover{	color: #FFFFFF;	display: inline;
}
.copyright{
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4d91e4;
	padding-right: 20px;
}
.social a.fb, a.gp, a.tw, a.in{
	float: left;
	height: 18px;
	width: 30px;
	padding-top: 4px;
	margin-top: 4px;
	padding-left: 5px;
}
.social a.fb{
	background-image: url(../images/fb.gif);
	background-repeat: no-repeat;	
}
.social a.gp{background-image: url(../images/gp.gif);
	background-repeat: no-repeat;
}
.social a.tw{
	background-image: url(../images/tw.gif);
	background-repeat: no-repeat;
}
.social a.in{
	background-image: url(../images/in.gif);
	background-repeat: no-repeat;
}
/*-----------------------------------by gagan for slider--------------------------------------------*/

.rrowslider{height:347px;width:690px;overflow: hidden;position: relative;background: #fff url(../images/layout/preload.html) center center no-repeat;}
.rrowslider li, .rrowslider .featured{display: block;width:100%;height:100%;position: absolute;top:0;left:0;z-index: 1;}
.js_active .rrowslider li, .js_active .rrowslider .featured{display:none;}
.rrowslider img, .rrowslider a img, .rrowslider a{border:none;text-decoration: none;}
.slidecontrolls{margin:5px auto 0 auto;position: relative;float:left;}
.slidecontrolls a{ background:url(../images/pagination.html) no-repeat;width:13px;height:13px;display:block;float:left;}
.slidecontrolls .active_item{ background-position: 0 -26px !important;}
.slidecontrolls a:hover{ background-position: 0 -13px;}
.feature_excerpt{
	width:690px;
	position: absolute;
	display: block;
	bottom: 0;
	left:0px;
	z-index: 2;
	font-size: 12px;
	line-height:1.5em;
	color: #FFFFCC;
	padding-top: 14px;
	padding-right: 10px;
	padding-bottom: 14px;
	padding-left: 10px;
	background-image: url(../images/tranpng.png);
	font-family: Arial;
	font-weight: bold;
	letter-spacing: 1px;
}
.feature_excerpt strong{display: block;font-size: 15px;padding-bottom: 3px;}
.noticbox{
	float: left;
	height: 224px;
	width: 262px;
	background-image: url(../images/testimonial.gif);
	background-repeat: no-repeat;
}
.noticboxinner{
	float: left;
	width: 200px;
	padding-left: 30px;
	height: 180px;
	padding-top: 20px;
}
.noticehead{
	padding-left: 10px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}
.noticecontent{
	float: left;
	height: 130px;
	width: 200px;
	padding-bottom: 5px;
	padding-top: 5px;
}
.noticecontent ul{
	float: left;
	width: 200px;
	height: 140px;
}
.noticecontent li{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	line-height: 120%;
	padding-top: 5px;
	padding-bottom: 6px;
	list-style-position: outside;
	padding-left: 13px;
	list-style-type: none;
	padding-right: 5px;
}



.tourdiscription{
	padding-top: 10px;
	width: 617px;
	padding-right: 8px;
}
.tourdiscription h1{
	color: #0c71aa;
	font-size: 17px;
	padding-top: 15px;
	padding-left: 10px;

}
.tourdiscription ul{
	padding-left: 28px;

}
.tourdiscription ul li{
	font-size: 13px;
	padding: 0px;
	line-height: 140%;
	font-family: Arial, Helvetica, sans-serif;
	list-style-image: url(../images/tick.png);

}

ul.tabs {
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	width: 640px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #d7d7d7;
	border-left-color: #d7d7d7;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
}
ul.tabs li {
	float: left;
	height: 31px;
	line-height: 31px;
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
	background-color: #0B8B1C;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #d7d7d7;
	border-right-color: #d7d7d7;
	border-bottom-color: #d7d7d7;
	border-left-color: #d7d7d7;
	color: #000000;
}
ul.tabs li a {
	text-decoration: none;
	color: #FFFFFF;
	display: block;
	font-size: 17px;
	border: 1px solid #fff;
	outline: none;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 3;
	padding-right: 20px;
	padding-bottom: 3;
	padding-left: 20px;
}
ul.tabs li a:hover {
	background-color: #2C74A7;
	color: #FFFFFF;
}	
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	color: #FFFFFF;
	background-color: #1b6825;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #003366;
}
.tab_container {
	clear: both;
	float: left;
	width: 640px;
	background: #fff;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #d7d7d7;
	border-right-color: #d7d7d7;
	border-bottom-color: #d7d7d7;
	border-left-color: #d7d7d7;
	padding-bottom: 15px;
	color: #333333;
}
.tab_content {
	padding: 10px;
	font-size: 1.2em;
}
.tab_content h2 {
	font-weight: normal;
	padding-bottom: 10px;
	font-size: 1.8em;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #058A9E;
}
.tab_content h3 a{
	color: #254588;
}
.table1{
	border-top-width: 5px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #c5d1d9;
	border-left-color: #c5d1d9;
	margin-left: 5px;
	background-color: #f7fafc;
}
.table1 td{
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #c5d1d9;
	border-bottom-color: #c5d1d9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 10px;
	text-align: left;
	font-weight: normal;
}
.td2{
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #70155D;
	border-bottom-color: #70155D;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	background-color: #c1e3f6;
}
