<!DOCTYPE html>
<html>
    {% include 'shared/common_head.html' %}
<body onLoad="DrawCaptcha();">
<div class="container"> 
    {% include 'shared/header.html' %}
    {% include 'shared/nav_bar.html' %}
<div class="wapper">
    {% include 'shared/left_section.html' %}
    {% include 'shared/right_section.html' %}
</div>
    {% include 'shared/footer.html' %}
</div>
    {% include 'shared/lower_scripts.html' %}
</body>
</html>
