<div class="banner_area">
<div class="banner">
<!-- Start Slider BODY section -->
<div id="wowslider-container1">
<div class="ws_images">
<ul>
<li><a href="bestofshimlamanali.html"><img src="{{STATIC_URL}}images/bestofshimlamanali.jpg" width="631px" height="317px" border="0" id="wows1_0"/></a></li>
<li><a href="shimlamanali_honeymoonpackage.html"><img src="{{STATIC_URL}}images/honeymoonoffer.jpg" width="631px" height="317px" border="0" id="wows1_1"/></a></li>
<li><a href="tajmahal_himalayas.html"><img src="{{STATIC_URL}}images/tajtour.jpg" width="631px" height="317px" border="0" id="wows1_0"/></a></li>
<li><a href="mysticmanali.html"><img src="{{STATIC_URL}}images/newyear.jpg" width="631px" height="317px" border="0" id="wows1_1"/></a></li>
<li><a href="tajmahal_himalayas.html"><img src="{{STATIC_URL}}images/tajtour.jpg" width="631px" height="317px" border="0" id="wows1_1"/></a></li>
<li><a href="shimlamanali_honeymoonpackage.html"><img src="{{STATIC_URL}}images/honeymoonoffer.jpg" width="631px" height="317px" border="0" id="wows1_1"/></a></li>
    </ul>
  </div>
  <div class="ws_bullets">
    <div> <a href="#" title="Bright houses">1</a> <a href="#" title="Cannaregio district">2</a> <a href="#" title="Narrow street">3</a> <a href="#" title="Constitution bridge">4</a> <a href="#" title="Night lights">5</a> <a href="#" title="Dorsoduro">6</a> <a href="#" title="Canal">7</a> <a href="#" title="Dorsoduro">8</a> <a href="#" title="Canal">9</a> </div>
  </div>
  <div class="ws_shadow"></div>
</div>
<!-- End  section -->
</div>
</div>
