<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Village Himalaya, Himachal Tour Packages, Himalaya Tour Packages</title>
<meta name="Description" content="Village Himalaya Services Offered best tour packages for Himalayas, Himalayan Homestay, Trans Himalaya Tour,  Adventure Trekking, Peak Climbing, Jungle Safari Tour and Holidays, Enjoy Home Stay with families and enjoy hidden cultured of  Himachal."/>
<meta name="Keywords" content="village himalaya,tour to manali,tour to shimla, tour packages for manali, tour packages for shimla, shimla honeymoon tour, homestay in himalaya, himachal tourism, Himachal Tourist Places, tour to himalayas, shimla tour package, Himalayan Village, Shimla Manali Tours Package from Bangalore, Shimla Manali Tours Package from Hyderabad, trekking in himalayan mountain, Himachal Tour Packages, himalayan tour, himalayan mountain tours, himalayas travel guide,visit himalaya,Shimla Manali Tours Package from Mumbai, Kullu Manali Package tour from Bangalore,"/>
<META NAME="Language" CONTENT="English">
<META NAME="distribution" CONTENT="Global">
<META NAME="author" CONTENT="villagehimalaya.com">
<META NAME="Robots" CONTENT="index,follow">
<link href="{{STATIC_URL}}css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/imageslider.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery_slide.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/snowstorm.js"></script>
<link href="{{ STATIC_URL }}css/jcarousel.css" rel="stylesheet" type="text/css" media="screen">

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>


<!--[if (gte IE 6)&(lte IE 9)]>
	<script type="text/javascript" src='/Latest/js/html5.js'></script>
<![endif]-->    
<!--Gallery -->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery_003.js"></script>



<script type="text/javascript">
        $(function () {

            var galleries = $('.ad-gallery').adGallery({loader_image: '/Latest/images/loader.gif'});
            $('#switch-effect').change(
      function (shashi) {
          galleries[0].settings.effect = $(this).val();
          return false;
      }
    );

      //
      if ($("#mycarousel li").length >= 1) {
          jQuery('#mycarousel').jcarousel({
              wrap:'circular',
              auto: 4,
              itemLoadCallback: itemLoadCallbackFunction
          });
      }
      var $tabs = $('#tabs-itinerary').tabs().scrollabletab();
  });

  function itemLoadCallbackFunction(carousel, state) {
      if (carousel.options.size < 4) {
          carousel.stopAuto();
          $('.packageListing .jcarousel-next').css('display', 'none');
          $('.packageListing .jcarousel-prev').css('display', 'none');
          $('.packagestext').css('padding-right', '0');
      }
      else {
          carousel.startAuto();
          $('.packageListing .jcarousel-next').css('display', 'block');
          $('.packageListing .jcarousel-prev').css('display', 'block');
          $('.packagestext').css('padding-right', '0px;');
      }
      

  };
    </script>



<script type="text/javascript" src="{{ STATIC_URL }}js/Validation.js"></script>
<!--slider banner-->

<script type="text/javascript" src="{{ STATIC_URL }}js/captcha.js"></script>
</head>
