<div class="footer">
<div class="footermain">
<div class="footerbox1">
<div class="fheadingtext">
Himachal Ecstasy Tours</div>
<div class="footerlink">
<ul>
<li>Beautiful Himachal Tour </li>
<li>Shimla Dharamshala Tour</li>
<li>Enchanting Himachal Tours</li>
<li>Kullu Dussehra Tours</li>
</ul>
</div>
</div>
<div class="spacer"></div>
<div class="footerbox1">
<div class="fheadingtext"> Himachal Tourism</div>
<div class="footerlink">
<ul>
<li>Camping in Himachal </li>
<li>Jeep Safari in Himachal </li>
<li>Wildlife in Himachal</li>
<li>Temples in Himachal Pradesh</li>
</ul>
</div>
</div>
<div class="spacer"></div>
<div class="footerbox1">
<div class="fheadingtext"> <a href="activitiesinhimachal.html">Popular activities</a></div>
<div class="footerlink">
<ul>
<li>Rafting Packages </li>
<li>Trekking  Packages </li>
<li>Skiing  Packages </li>
</ul>
</div>
</div>
<div class="footerbox2">
  <div class="fheadingtext">
  <a href="contactus_villagehimalaya.html">Contact Us</a></div>
  <strong>Colors of India Tours Pvt. Ltd.</strong><br />Gupta Niwas, Khalini, Shimla<br />
   Toll Free No: - 1800-180-8010<br />
  Landline:-+ 91-177-3200404 / 3290487<br /> 
E-mail info@villagehimalaya.com<br />
</div>
<div class="footerendbox"><div class="bottomlink">
<ul>
<li>Home </li>
<li>|</li>
<li>About Us</li>
<li>|</li>
<li>Term Conditions </li>
<li>|</li>
<li><a href="contactus_villagehimalaya.html">Contact</a></li>
<li>|</li>
<li><a href="sitemap.xml">Sitemap</a></li>
<li>|</li>
<li>Links</li>            
</ul>
</div>
<div class="copyright" style="padding-top:5px">&copy; 2012 Village Himalaya. All rights reserved.</div>       
</div>
</div>
</div>
