<header>
<div class="header">
    <div class="logo"><a href="index.html"><img src=" {{STATIC_URL}}images/logo.png" /></a></div>
<div class="header_right"><img src="{{STATIC_URL}}images/contact.png" width="259" height="55"></div>
</div>
</header>
