<div class="left_pannel">
    {% include 'shared/banner.html' %}
<div class="left_subpannel">
<div class="corner"></div>
<div class="pkg_diplaybox" style="margin-top:17px">
<div class="pkg_titel">
<div class="pkg_titelrightside">

</div>
<h1 style="padding-left:220px;">Himachal Tour Packages</h1>

</div>
<div class="pkg_titel">


<div class="packageListing"><span style="" class="packagestext"></span><div class="clear"></div>                  
  <div class=" jcarousel-skin-tango">
    <div style="position: relative; display: block;" class="jcarousel-container jcarousel-container-horizontal">
      <div style="position: relative; padding-left:6px" class="jcarousel-clip jcarousel-clip-horizontal">
<ul style="overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: -620px; width: 600px;" id="mycarousel" class="jcarousel-list jcarousel-list-horizontal">
          <li  style="float: left; list-style: none outside none;">
            <div class="pkg_box">
              <div class="pkg_img">
                <div class="pkg_imgbox"><a href="bestofshimlamanali.html"><img src="{{STATIC_URL}}images/shimlamall.jpg" width="166" height="120" border="0" /></a></div>
                <div class="pkg_imgbox_discription">
                  <h2><a href="bestofshimlamanali.html">Best of Shimla Manali</a> </h2>
                  <h4>05 Nights  & 06 Days </h4>
                </div>
              </div>
            </div>
          </li>
          <li  style="float: left; list-style: none outside none;">
            <div class="pkg_box">
              <div class="pkg_img">
                <div class="pkg_imgbox"><a href="mysticmanali.html"><img src="{{STATIC_URL}}images/manali.jpg" width="166" height="120" /></a></div>
                <div class="pkg_imgbox_discription">
                  <h2><a href="mysticmanali.html"> Mystic Manali by Volvo </a></h2>
                 <h4>03 Nights  & 04 Days </h4>
</div>
</div>
</div>
</li>
          <li  style="float: left; list-style: none outside none;">
            <div class="pkg_box">
              <div class="pkg_img">
                <div class="pkg_imgbox"><a href="tajmahal_himalayas.html"><img src="{{STATIC_URL}}images/tajmahal.jpg" width="166" height="120"  border="0"/></a></div>
                <div class="pkg_imgbox_discription">
                  <h2><a href="tajmahal_himalayas.html">Taj Mahal with the Himalayas </a></h2>
                  <h4>08 Nights  & 09 Days </h4>
                </div>
              </div>
            </div>
          </li>
<li style="float: left; list-style: none outside none;">
            <div class="pkg_box">
              <div class="pkg_img">
                <div class="pkg_imgbox"><a href="shimlamanali_honeymoonpackage.html"><img src="{{STATIC_URL}}images/honeymoon.jpg" width="166" height="120" border="0" /></a></div>
                <div class="pkg_imgbox_discription">
                  <h2><a href="shimlamanali_honeymoonpackage.html">Shimla Manali Honeymoon Package </a></h2>
                  <h4>05 Nights  & 6 Days </h4>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div style="display: block;" class="jcarousel-prev jcarousel-prev-horizontal"></div>
      <div style="display: block;" class="jcarousel-next jcarousel-next-horizontal"></div>
    </div>
  </div>
</div>




</div>
</div>
</div>
<div class="left_subpannel" style="padding-top:8px">
  <h1 style="padding-left:3px">Holiday OFFER </h1>
</div>
<div class="left_subpannel">
  <div class="pkg_offer">
    <h6 style="padding-left:8px; padding-top:12px; padding-bottom:8px"><a href="shimla.html">Winter Special  OFFER</a></h6>
    <div class="destinations_img"><a href="bestofshimlamanali.html"><img src="{{STATIC_URL}}images/enjoy-winter.jpg" width="285" height="150"></a></div>
  </div>
  <div class="spacer"></div>
  <div class="pkg_offer">
    <h6 style="padding-left:8px; padding-top:12px; padding-bottom:8px"><a href="kullumanalikeylong.html">NEW YEAR OFFER</a></h6>
    <div class="destinations_img"><a href="bestofshimlamanali.html"><img src="{{STATIC_URL}}images/new-year-2014.jpg" width="285" height="150"></a></div>
  </div>
</div>
<div class="left_subpannel">
  <div class="pkg_offer">
    <h6 style="padding-left:8px; padding-top:12px; padding-bottom:8px"><a href="shimla.html">Winter Special  OFFER</a></h6>
    <div class="destinations_img"><a href="bestofshimlamanali.html"><img src="{{STATIC_URL}}images/enjoy-winter.jpg" width="285" height="150"></a></div>
  </div>
  <div class="spacer"></div>
  <div class="pkg_offer">
    <h6 style="padding-left:8px; padding-top:12px; padding-bottom:8px"><a href="kullumanalikeylong.html">NEW YEAR OFFER</a></h6>
    <div class="destinations_img"><a href="bestofshimlamanali.html"><img src="{{STATIC_URL}}images/new-year-2014.jpg" width="285" height="150"></a></div>
  </div>
</div>

<div class="left_subpannel">
  <div class="pkg_offer">
    <h6 style="padding-left:8px; padding-top:12px; padding-bottom:8px"><a href="shimla.html">Winter Special  OFFER</a></h6>
    <div class="destinations_img"><a href="bestofshimlamanali.html"><img src="{{STATIC_URL}}images/enjoy-winter.jpg" width="285" height="150"></a></div>
  </div>
  <div class="spacer"></div>
  <div class="pkg_offer">
    <h6 style="padding-left:8px; padding-top:12px; padding-bottom:8px"><a href="kullumanalikeylong.html">NEW YEAR OFFER</a></h6>
    <div class="destinations_img"><a href="bestofshimlamanali.html"><img src="{{STATIC_URL}}images/new-year-2014.jpg" width="285" height="150"></a></div>
  </div>
</div>
<div class="left_subpannel"></div>
<div class="left_subpannel"></div>
<div class="left_subpannel"></div>
</div>
