<div class="menu_area">
<div class="menu_left"><div class="menu_home"><a href="index.html"><img src="{{STATIC_URL}}images/home.png" width="26" height="24" border="0" alt="Home Page" title="Home Page" /></a></div>
</div>
<div class="menu_mid">

<div id="menu">
<ul class="menu"><li><a href="aboutvillagehimalaya.html">About Village Himalaya</a></li>
<li><a href="abouthimachal.html">About Himachal</a> </li>
<li><a href="gettinghimachal.html">Getting to Himachal</a></li>
<li>Hotels</li>
<li>Car Rental </li>
<li><a href="traveltips.html">Special Offer</a> </li>
<li>Contact Us </li>
</ul>
</div>
</div>
<div class="menu_right"></div>
</div>
