<div class="right_pannel">
<div class="form_section">
  <form action="sendmail.php" method="post" name="quick" id="quick" onSubmit="return validateform(this);">
    <div class="form_header">
      <h1>Plan My Trip</h1>
      <p style="padding-left:18px">Planning your next vacation.</p>
    </div>
    <div class="form_container">
      <div class="fo_contarea" style="margin-top:10px">
        <div class="fo_leftarea">Name</div>
        <div class="fo_rightarea1">
          <select name="titel" id="titel" class="le_text2">
            <option>Mr</option>
            <option>Mrs</option>
            <option>Miss</option>
          </select>
        </div>
        <div class="fo_rightarea2">
          <input type="text" class="le_text3" name="name" id="name" onFocus="this.className='le_text3';" onBlur="this.className='le_text3';"/>
        </div>
      </div>
      <div class="fo_contarea">
        <div class="fo_leftarea">Email id </div>
        <div class="fo_rightarea6">
          <input type="text" class="le_text4" name="email"  id="email" onFocus="this.className='le_text4';" onBlur="this.className='le_text4';"/>
        </div>
      </div>
      <div class="fo_contarea">
        <div class="fo_leftarea">Phone no </div>
        <div class="fo_rightarea2">
          <div class="fo_rightarea6">
            <input type="text" class="le_text4" name="phone" id="phone" onFocus="this.className='le_text4';" onBlur="this.className='le_text4';"/>
          </div>
        </div>
      </div>
      <div class="fo_contarea">
        <div class="fo_leftarea">Journey Date</div>
        <div class="fo_rightarea2.2">
          <script>
$(function() {
$( "#datepicker" ).datepicker({
minDate: +3, maxDate: "+10M +30D",
showOn: "button",
buttonImage: "{{STATIC_URL}}images/Calendar-icon1.png",
buttonImageOnly: true
});

});


</script>
          <input class="le_text4" type="text" name="datepicker" id="datepicker" onBlur="if(this.value == '') { this.value='DD-MM-YYYY';}" onClick="if(this.value == 'DD-MM-YYYY') { this.value = '';} "value="DD-MM-YYYY" />
        </div>
      </div>
      <div class="fo_contarea">
        <div class="fo_leftarea">Duration</div>
        <div class="fo_rightarea2">
          <div class="fo_rightarea6">
            <select class="le_text4_1" name="duration" id="duration">
              <option>2 Nights / 3 Days</option>
              <option>3 Nights / 4 Days</option>
              <option>4 Nights / 5 Days</option>
              <option>5 Nights / 6 Days</option>
              <option>6 Nights / 7 Days</option>
              <option>7 Nights / 8 Days</option>
              <option>8 Nights / 9 Days</option>
              <option>1 Week</option>
              <option>2 Weeks</option>
              <option>More Days</option>
            </select>
          </div>
        </div>
      </div>
      <div class="fo_contarea">
        <div class="fo_leftarea">No of Person</div>
        <div class="fo_rightarea3">
          <select name="People" id="People" class="le_text7">
            <option>Adults</option>
            <option>01</option>
            <option>02</option>
            <option>03</option>
            <option>04</option>
            <option>05</option>
            <option>06</option>
            <option>07</option>
            <option>08</option>
            <option>09</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
            <option>More</option>
          </select>
        </div>
        <div class="fo_rightarea4">
          <select name="Kid"  id="Kid" class="le_text8">
            <option>Children</option>
            <option>00</option>
            <option>01</option>
            <option>02</option>
            <option>03</option>
            <option>04</option>
            <option>05</option>
            <option>06</option>
            <option>07</option>
            <option>08</option>
            <option>09</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
            <option>More</option>
          </select>
        </div>
      </div>
      <div class="fo_contarea">
        <div class="fo_leftarea">Tour Requirements</div>
        <div class="fo_rightarea6">
          <textarea name="requirements" id="requirements" cols="30" rows="2" class="le_text10"></textarea>
        </div>
      </div>
      <div class="fo_contarea">
     <input type="text" id="txtCaptcha" style="background-image:url(captcha2.jpg);background-size: 150px; text-align:center; border:none;font-size:15px;font-weight:bold; width:160px;" readonly class="level_cp"/>
          <input type="button" id="btnrefresh" value="Refresh" onClick="DrawCaptcha();" class="level_cp_ref" /></div>
          
      <div class="fo_contarea">     
          <input name="S_captcha" id="S_captcha" type="text" class="level_cp2"  onFocus="Remove_It(this,'Captcha');" onBlur="if(this.value == '') { this.value='Please Enter Captcha Code';}" onClick="if(this.value == 'Please Enter Captcha Code') { this.value = '';} "value="Please Enter Captcha Code">
      
      
      </div>
      <div class="fo_contarea"></div>
      <div class="fo_contarea">
        <div class="search_button">
          <input class="f_topbutton_bg" type="image" src="{{STATIC_URL}}images/button.png" name="button2" id="button2" value="Send Enquiry" />
        </div>
      </div>
    </div>
  </form>
</div>
<div class="right_subpannel" style="padding-top:13px">
<div class="right_subpannelinner" style="padding-bottom:15px">
<div class="catogry_titel">Trans Himalaya Tour</div>
<div class="right_pkgbox">
  <div class="right_pkginfo2">
<h5><a href="transhimalayas.html">Trans Himalayas </a></h5>
<h4>9Nights/10Days</h4>

</div>

</div>

<div class="right_pkgbox">
  <div class="right_pkginfo2">
    <h5><a href="footprintsofbuddha.html">Foot prints of Buddha </a></h5>
    <h4>9Nights/10Days</h4>

  </div>
</div>
<div class="right_pkgbox">
  <div class="right_pkginfo2">
    <h5><a href="kinnerkailash_parikrama.html">Kinner Kailash parikrama </a></h5>
    <h4>9Nights/10Days</h4>

  </div>
</div>
<div class="right_pkgbox">
  <div class="right_pkginfo2">
    <h5><a href="himalayanjeepsafari.html">Himalayan Jeep Safari</a></h5>
    <h4>9Nights/10Days</h4>

  </div>
</div>
</div>



</div>
  <div class="right_subpannel" style="padding-top:8px; margin-top:8px">
    <div class="right_subpannelinner">
      <div class="right_pkgbox2"><a href="mysticmanali.html"><img src="{{STATIC_URL}}images/manali_awd.gif" width="296" height="165" /></a></div>
      </div>
    <div class="right_subpannel" style="padding-top:12px">
      <div class="right_subpannelinner" style="padding-bottom:15px">
        <div class="catogry_titel">Best Trekking itineraries
</div>
        <div class="right_pkgbox">
        
        <ul>
        <li><a href="hamtatrek.html">Hamta Trek </a></li>
        <li><a href="malanahistorytrek.html">Malana History Trek</a></li>
        <li><a href="chandertrail.html">Chander Trail </a></li>
        <li><a href="dharamsalachhotbahangal.html">Dharamsala Chhota Bhangal over sari Pass Kullu </a></li>
        <li><a href="morchella.html">Morchella </a></li>
        <li><a href="manalihamyaherbaltrek.html">Manali- Hamya Herbal Trek </a></li>
        <li><a href="kinnerkailash_yatra.html">Kinner Kailash Yatra.</a></li>  
        <li><a href="bharmaurkugti.html">Bharmaur - Kugti - Udaipur - Manali trek </a></li>   
        
        </ul>
        
        
        
        
        
        </div>
        </div>
    </div>
  </div>

</div>
